body{
  text-align: center;  /*centers everuthing inside that doesnt have a width set*/
  font-family: monospace;
  color: #40514E;
}

p{
  line-height: 2;
}

hr {
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 4px;
  margin: 70px auto;
  width: 5%;
}

h1{
  margin: 60px auto 0; /*top left, bottom right*/
  font-family: 'Sacramento', cursive;
  font-size: 350%;
  color: #66BFBF;
}

h2{
margin: auto;
font-family: 'Montserrat', sans-serif;
color: #66BFBF;
padding-bottom: 1px;
}

h3{
font-family: 'Montserrat', sans-serif;
font-size: 15px;
color: #11999E
}

a{
  color: #66BFBF;
  font-family: "Montserrat", sans-serif;
  margin: 10px 40px 20px;
  text-decoration: none
}

.my_resume{
  color: #66BFBF;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  margin: 2px;
}

a:hover {
  color: #EAF6F6;
}

.contact_mikel:hover{
  background-color: #A3E4DB;
  color: #1A5F7A;
}

.top_container{
  background-color: #E8F6EF;
  position: relative;
  padding: 5px 0;
}

.top_content{
  width: 70%;
  margin:10px auto 20px auto;
}

.bottom_cloud{
  position: absolute;
  left : 250px;
  top: 180px;
}
.top_cloud{
  position: absolute;
  right: 270px;
  top: 50px;
}

.middle_container{
  /* padding: 30px auto; */
  background-color: #FFF9F9;
  margin: auto;
}

.profile{
  padding-top: 30px;
  line-height: 2;
}

.my_pic{
  height: 200px;
  width: 200px;
  border: 3px solid #66BFBF;
  border-radius: 100px;
 }

.intro{
 width: 70%;
 margin: auto;
 }

.skills{
  margin:10px auto 50px auto;
}

.skill-row {
  width: 70%;
  /* margin:50px auto 50px auto; */
  margin:20px auto 50px auto;
  text-align: left;
  /* line-height: 1.5; */
}

.web{
  font-style: italic;
  font-size: 23px;
  color: #66BFBF;
  }

.code_img{
    height: 150px;
    width: 150px;
    float: left;
    margin-right: 60px;
    border: 3px solid #66BFBF;
    border-radius: 100px;
  }

.skill-row2 {
    width: 70%;
    /* margin:50px auto 100px 250px; */
    margin:10px auto 50px auto;
    text-align: right;
}

.hobby_img{
  position: relative;
  bottom : 40px;
  height: 150px;
  width: 150px;
  float: right;
  margin-left: 60px;
  /* margin: auto; */
  border: 3px solid #66BFBF;
  border-radius: 100px;
}

.last_hr{
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 4px;
  /* position: relative; */
  margin: 100px auto 50px 600px;
  width: 5%;
}

.contact_me{
  margin: 40px auto 0 425px;
  width: 35%;
  text-align: center;
  padding-bottom: 50px;
}

.my_resume:hover{
  background-color: #A3E4DB;
  color: white;
}

.bottom_container{
  background-color: #66BFBF;
  padding: 30px 0;
  /* margin: 30px auto; */#66BFBF
}

.bottom_contact{
  background-color: #66BFBF;
  padding: 30px 0;
  margin: 40px auto 0;
  length: 60%;
}

.button {
	box-shadow: 0 0 0 0 #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
  /* background-color:#66BFBF; */
	border-radius:10px;
	border:2px solid #057fd0;
  /* border:2px solid #66BFBF; */
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Montserrat" , sans-serif ;
	font-size:15px;
	font-weight:bold;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0 0 0 #5b6178;
  margin: 20px;
  /* align-items: center; */
}
.button:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.button:active {
	position:relative;
	top:1px;
}

.footer_link{
  color: #11999E;
}

.copyright{
  color: #EAF6F6;
  font-size: 16px;
  padding: 40px auto;
}

.contact{
  background-color: #E8F6EF;
  margin: auto;
}
