body{
  text-align: center;  /*centers everuthing inside that doesnt have a width set*/
  font-family: monospace;
  color: #40514E;
  /* background-color: #E8F6EF; */
}
.contact{
  background-color: #E8F6EF;
  margin: auto;

}
p{
  line-height: 2;
}

hr {
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 4px;
  margin: 70px auto;
  width: 5%;
}
.last_hr{
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 4px;
  /* position: relative; */
  margin: 100px auto 50px 600px;
  width: 5%;
}

h1{
  margin: 60px auto 0; /*top left, bottom right*/
  font-family: 'Sacramento', cursive;
  font-size: 350%;
  color: #66BFBF;
}

h2{
margin: auto;
font-family: 'Montserrat', sans-serif;
color: #66BFBF;
padding-bottom: 0;
}

h3{
font-family: 'Montserrat', sans-serif;
font-size: 15px;
color: #11999E;
}

a{
  color: #66BFBF;
  font-family: "Monospace", sans-serif;
  /* margin: 10px 20px; */
  /* text-decoration: none; */
}

.top_container{
  /*margin: 0;*/
  background-color: #E8F6EF;
  position: relative;
  padding: 5px 0;
}

.top_content{
  width: 70%;
  margin:10px auto 20px auto;
}
.bottom_cloud{
  position: absolute;
  left : 250px;
  top: 180px;
}
.top_cloud{
  position: absolute;
  right: 270px;
  top: 50px;
}


.skills{
  margin:10px auto 50px auto;
}

.web{
  font-style: italic;
  font-size: 23px;
  color: #66BFBF;

  }
  .intro{
  width: 70%;
  margin: auto;
    }

.middle_container{
  padding-top: 25px;

  background-color: #FFF9F9;
}


.skill-row {
  width: 70%;
  /* margin:50px auto 50px auto; */
  margin:20px auto 50px auto;
  text-align: left;
  /* line-height: 1.5; */
}
.skill-row2 {
    width: 70%;
    /* margin:50px auto 100px 250px; */
    margin:10px auto 50px auto;
    text-align: right;
}

.profile{
  line-height: 2;
}

.my_pic{
  height: 200px;
  width: 200px;
  border: 3px solid #66BFBF;
  border-radius: 100px;
 }

.my_resume:hover{
  background-color: #11999E;
  color: white;
}

a:hover {
  color: #11999E;
  color: white;
}
.code_img{
  height: 150px;
  width: 150px;
  float: left;
  margin-right: 60px;
  border: 3px solid #66BFBF;
  border-radius: 100px;
}
.hobby_img{
  position: relative;
  bottom : 40px;
  height: 150px;
  width: 150px;
  float: right;
  margin-left: 60px;
  /* margin: auto; */
  border: 3px solid #66BFBF;
  border-radius: 100px;
}

.bottom_container{
  background-color: #66BFBF;
  padding: 30px 0;
  /* margin: auto; */
  /* margin-top: 0px; */
}

.bottom_contact{
  background-color: #66BFBF;
  padding: 30px 0;
  margin: 40px auto 0;
  length: 60%;
  /* margin: auto; */
  /* margin-top: 0px; */
}

.contact_me{
  /* margin: 70px 40px 60px 40px; */
  margin: 40px auto 0 375px;
  width: 40%;
  /* line-height: 2; */
  text-align: center;

}

.footer_link{
  color: #11999E;
}

.button {
	box-shadow: 0 0 0 0 #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:10px;
	border:2px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Montserrat" , sans-serif ;
	font-size:12px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0 0 0 #5b6178;
  margin: 20px 70px;
  /* align-items: center; */
}
.button:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.button:active {
	position:relative;
	top:1px;
}

.copyright{
  color: #EAF6F6;
  font-size: 16px;
  padding: 20px auto;
}
